<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{fragments/resources :: headTags}"></div>
    <title>Home</title>
</head>

<body class="home-body">
    <nav th:replace="~{fragments/navbar :: navbar('Home')}"></nav>
    <div class="container mt-5">
        <div class="container home rounded">
            <div class="d-flex justify-content-center home-buttons">
                <a class="btn btn-lg  btn-dark me-4" th:href="@{/films}">
                    Films
                </a>
                <a class="btn btn-lg btn-dark" th:href="@{/categories}">
                    Generi
                </a>
            </div>
            <div class="home-text">
                <p class="text-end fw-bold text-light">
                    Buon Divertimento!<br>Michelangelo Musco
                </p>
            </div>
        </div>

    </div>
    <div th:replace="~{fragments/resources :: scripts}"></div>
</body>

</html>