<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{fragments/resources :: headTags}"></div>
    <title>Home</title>
</head>

<body>
    <nav th:replace="~{fragments/navbar :: navbar('Home')}"></nav>
    <div class="filler"></div>
    <div class="container mt-5">
        <h1 class="text-center mb-4 fw-bold">Cineteca di Mike</h1>
        <hr />
        <div class="container">
            <div class="d-flex justify-content-center">
                <a class="btn btn-lg  btn-outline-dark me-4" th:href="@{/films}">
                    Films
                </a>
                <a class="btn btn-lg btn-outline-dark" th:href="@{/categories}">
                    Generi
                </a>
            </div>
            <p class="card-text mt-5">
                Il mio obiettivo è che questa cineteca non sia solo un catalogo online, ma una dimostrazione pratica di
                come
                il
                codice possa dare vita a un'applicazione robusta ed efficiente.
            </p>
            <hr />
            <p class="text-end fw-bold">
                Buon Divertimento!<br>Michelangelo Musco
            </p>
        </div>

    </div>
    <div th:replace="~{fragments/resources :: scripts}"></div>
</body>

</html>