<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{fragments/resources :: headTags}"></div>
    <title>Films</title>
</head>

<body>
    <nav th:replace="~{fragments/navbar :: navbar('Lista Films')}"></nav>
    <main class="container p-4">
        <h1 class="text-center fw-bold mb-4">I Film di Mike</h1>
        <hr />
        <!-- FILTRO RICERCA  -->
        <!-- <div class="d-flex justify-content-around mb-4 align-items-center">
            <form id="film-form" method="get" th:action="@{/films}" th:object="${film}"
                class="d-flex justify-content-center align-items-center">
                <h2 class="me-3 text-nowrap">Ricerca film: </h2>
                <label for="search-term"></label>
                <input type="text" id="search-term" name="searchTerm" class="me-3 rounded">
                <button type="submit" class="btn btn-outline-dark rounded-pill btn-sm me-2">Cerca</button>
            </form>
        </div> -->
        <div class="mb-4">
            <a th:href="@{/films/create}" class="btn btn-outline-dark btn-custom btn-sm rounded-pill mx-2">Crea Film</a>
        </div>
        <!--DA METTERE QUA SOPRA sec:authorize="hasAuthority('ADMIN')"  -->
        <div class="row g-4">
            <div th:each="film : ${films}" th:object="${film}" class="col-12 col-sm-6 col-md-4 col-lg-4">
                <div class="card movie-card rounded-4 bg-dark text-light" th:if="${films.size()>0}">
                    <div class="card-header card-header-custom rounded-top-4">
                        <h1 class="card-title text-center fw-bold mb-0 text-dark">[[*{title}]]</h1>
                    </div>
                    <img th:src="*{imageUrl}" class="card-img-top img-fluid p-3" th:alt="*{title}">
                    <div class="card-body card-body-custom">
                        <div class="d-flex justify-content-between text-light mb-2">
                            <h6 class="card-subtitle">Anno: [[*{year}]]</h6>
                            <h6 class="card-subtitle fw-bold">Durata: [[*{duration}]] min</h6>
                        </div>
                        <hr />
                        <p class="card-text card-text-custom">Trama: [[*{plot}]]</p>
                        <div class="d-flex justify-content-around">
                            <a th:href="@{/films/{id}(id=*{id})}"
                                class="btn btn-outline-light btn-custom btn-sm rounded-pill mx-2">Dettagli</a>
                            <a th:href="@{/films/edit/{id}(id = ${film.id})}"
                                class="btn btn-outline-warning btn-custom btn-sm rounded-pill mx-2">Modifica</a>
                            <form class="d-inline-block" th:action="@{/films/delete/{id}(id=${film.id})}" method="post"
                                th:onsubmit="return confirm('Eliminazione film: Sei sicuro di voler eliminare ' + [[${film.title}]] + '?')">
                                <button type="submit"
                                    class="btn btn-outline-danger btn-custom btn-sm rounded-pill mx-2">
                                    Elimina
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p class="mb-3 alert alert-info" th:text="Non ci sono film disponibili al momento..."
            th:unless="${films.size()>0}" />
    </main>

    <div th:replace="~{fragments/resources :: scripts}"></div>
</body>

</html>