<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{fragments/resources :: headTags}"></div>
    <title>Films</title>
</head>

<body>
    <nav th:replace="~{fragments/navbar :: navbar('Lista Films')}"></nav>
    <div class="filler"></div>
    <main class="container p-4">
        <h1 class="text-center fw-bold mb-4">Lista Film</h1>
        <hr />
        <div sec:authorize="hasAuthority('ADMIN')" class=" d-flex justify-content-between mb-4">
            <a th:href="@{/films/create}" class="btn btn-outline-dark btn-custom rounded-pill">Crea Film</a>
            <h3 th:text="'Ciao ' + ${username}" />
        </div>
        <div class="row g-4">
            <div th:each="film : ${films}" th:object="${film}" class="col-12 col-sm-6 col-md-4 col-lg-4">
                <div class="card movie-card rounded-4 bg-dark text-light shadow" th:if="${films.size()>0}">
                    <div class="card-header card-header-custom rounded-top-4">
                        <h3 class="card-title text-center fw-bold mb-0 text-dark text-truncate movie-title">[[*{title}]]
                        </h3>
                    </div>
                    <!-- <div class="p-3 d-flex align-items-center justify-content-center">
                        <img th:src="*{imageUrl}" class="rounded-4 img-fluid img-custom" th:alt="*{title}">
                    </div> -->
                    <div class="card-body card-body-custom">
                        <th:block th:if="${film.categories.size() > 0}">
                            <div class="d-flex flex-wrap gap-1 mb-3">
                                <span>Genere:</span>
                                <span th:each="category, iterStart : *{categories}">
                                    [[${category.name}]]<th:block th:unless="${iterStart.last}"> / </th:block>
                                </span>
                            </div>
                        </th:block>
                        <th:block th:unless="${film.getCategories().size() > 0}">
                            <p class="mb-3 alert alert-info">Questa film non ha categorie...</p>
                        </th:block>
                        <div class="d-flex justify-content-between text-light mb-2">
                            <h6 class="card-subtitle fw-bold">Durata: [[*{duration}]] min</h6>
                            <h6 class="card-subtitle">Anno: [[*{year}]]</h6>
                        </div>
                        <hr />
                        <p class="card-text card-text-custom">Trama: [[*{plot}]]</p>
                        <div class="d-flex justify-content-around mb-4">
                            <a th:href="@{/films/{id}(id=*{id})}"
                                class="btn btn-outline-success btn-custom rounded-pill mx-2">Dettagli</a>
                            <a sec:authorize="hasAuthority('ADMIN')" th:href=" @{/films/edit/{id}(id=${film.id})}"
                                class="btn btn-outline-light btn-custom rounded-pill mx-2">Modifica</a>
                            <form sec:authorize="hasAuthority('ADMIN')" class=" d-inline-block"
                                th:action="@{/films/delete/{id}(id=${film.id})}" method="post"
                                th:onsubmit="return confirm('Eliminazione film: Sei sicuro di voler eliminare ' + [[${film.title}]] + '?')">
                                <button type="submit" class="btn btn-outline-danger btn-custom rounded-pill mx-2">
                                    Elimina
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p class="mb-3 alert alert-info" th:text="'Non ci sono film disponibili al momento...'"
            th:unless="${films.size()>0}" />
    </main>

    <div th:replace="~{fragments/resources :: scripts}"></div>
</body>

</html>