<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{fragments/resources :: headTags}"></div>
    <title>Film: [[${film.title}]]</title>
</head>

<body>
    <nav th:replace="~{fragments/navbar :: navbar('Dettaglio film')}"></nav>
    <div class="filler"></div>
    <main class="container p-4" th:object="${film}">
        <h1 class="text-center fw-bold mb-4">Dettaglio Film: [[*{title}]]</h1>
        <hr />
        <div class="card detail-card rounded-4 bg-dark text-light shadow-lg">
            <div class="d-flex align-items-stretch">
                <div class="p-3 d-flex align-items-center justify-content-center">
                    <img th:src="*{imageUrl}" class="rounded-4 img-fluid" th:alt="*{title}">
                </div>
                <div class="card-body p-5">
                    <div class="card-header card-header-custom card-header-show mb-3">
                        <h1 class="card-title text-center fw-bold mb-0 text-dark" th:text="*{title}" />
                    </div>
                    <th:block th:if="*{categories.size() > 0}">
                        <div class="mb-3">
                            <h6 class="fw-bold d-inline-block me-2">Genere:</h6>
                            <span th:each="category, iterStart : *{categories}">
                                <a class="text-light"
                                    th:href="@{/categories/{id}(id=${category.id})}">[[${category.name}]]</a>
                                <th:block th:unless="${iterStart.last}"> / </th:block>
                            </span>
                        </div>
                    </th:block>
                    <th:block th:unless="*{categories.size() > 0}">
                        <p class="mb-3 alert alert-info">Questo film non ha categorie...</p>
                    </th:block>

                    <div class="d-flex justify-content-between text-light mb-4">
                        <h6 class="card-subtitle fw-bold">Durata: [[*{duration}]] min</h6>
                        <h6 class="card-subtitle fw-bold">Anno: [[*{year}]]</h6>
                    </div>

                    <hr />

                    <h6 class="fw-bold">Trama:</h6>
                    <p class="card-text mb-4" th:text="*{plot}"></p>
                    <hr />
                    <div class="d-flex justify-content-between mt-4">
                        <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/films/edit/{id}(id = *{id})}"
                            class="btn btn-outline-light rounded-pill">Modifica</a>
                        <form sec:authorize="hasAuthority('ADMIN')" class="d-inline-block"
                            th:action="@{/films/delete/{id}(id=${film.id})}" method="post"
                            th:onsubmit="return confirm('Eliminazione film: Sei sicuro di voler eliminare ' + [[${film.title}]] + '?')">
                            <button type="submit" class="btn btn-outline-danger rounded-pill">
                                Elimina
                            </button>
                        </form>
                        <a th:href="@{/films}" class="btn btn-outline-primary rounded-pill">Torna alla lista</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div th:replace="~{fragments/resources :: scripts}"></div>
</body>

</html>